Repository XPoZiTiVeZ/Yandex-Project-Classroom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gateway_test, auth_test, courses_test, lessons_test, tasks_test

.gitlab-ci.yml:

stages:
  - test

# Общие настройки для всех тестов
.test_config: &test_config
  stage: test
  image: golang:1.24.2
  allow_failure: false
  variables:
    CI_DEBUG_TRACE: 'false'
  before_script:
    - chmod +x ./Pipelines/test/${CI_JOB_NAME}.sh
  script:
    - ./Pipelines/test/${CI_JOB_NAME}.sh
    - EXIT_CODE=$?
    - echo $CI_PIPELINE_SOURCE
    - echo $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME;
    - echo $CI_JOB_NAME;
    - if [ $EXIT_CODE -ne 0 ]; then
      echo "❌ Merge request declined ${SERVICE_NAME} tests failed)";
      exit $EXIT_CODE;
      fi
    - echo "✅ Merge request approved (${SERVICE_NAME} tests passed)";

gateway_test:
  extends: .test_config
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Gateway/**/*
        - Common/Proto/**/*
      when: always

auth_test:
  extends: .test_config
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Auth/**/*
        - Common/Proto/auth.proto
      when: always

courses_test:
  extends: .test_config
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Courses/**/*
        - Common/Proto/courses.proto
      when: always

lessons_test:
  extends: .test_config
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Lessons/**/*
        - Common/Proto/lessons.proto
      when: always

tasks_test:
  extends: .test_config
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - Tasks/**/*
        - Common/Proto/tasks.proto
      when: always

refactor middlewares and auth
  Gateway/config/config.yaml
  Gateway/internal/auth/auth.go
  Gateway/internal/errors/errors.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/httpErrors.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/response.go
  Gateway/internal/server/server.go
  Gateway/internal/server/wrapper.go
  Gateway/pkg/api/auth/auth.pb.go
  Gateway/pkg/api/auth/auth_grpc.pb.go
  Gateway/pkg/api/courses/courses.pb.go
  Gateway/pkg/api/courses/courses_grpc.pb.go
  Gateway/pkg/api/lessons/lessons.pb.go
  Gateway/pkg/api/lessons/lessons_grpc.pb.go
  Gateway/pkg/api/tasks/tasks.pb.go
  Gateway/pkg/api/tasks/tasks_grpc.pb.go
Due: gateway_test

Gateway logger and some refactor update
  Gateway/.env.example
  Gateway/cmd/main.go
  Gateway/configs/config.yaml
  Gateway/go.mod
  Gateway/go.sum
  Gateway/internal/auth/auth.go
  Gateway/internal/courses/courses.go
  Gateway/internal/lessons/lessons.go
  Gateway/internal/server/server.go
  Gateway/internal/tasks/tasks.go
  Gateway/pkg/config/config.go
  Gateway/pkg/logger/logger.go
Due: gateway_test

Gateway refarctor barely finished(errors and swaggo commits remains)
  Gateway/cmd/main.go
  Gateway/go.mod
  Gateway/go.sum
  Gateway/internal/auth/auth.go
  Gateway/internal/courses/courses.go
  Gateway/internal/lessons/lessons.go
  Gateway/internal/logger/logger.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/httpErrors.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/server.go
  Gateway/internal/server/wrapper.go
  Gateway/internal/tasks/tasks.go
  Gateway/pkg/logger/logger.go
Due: gateway_test

refactor error in NewService methods, and update main.go
  Gateway/cmd/main.go
  Gateway/internal/auth/auth.go
  Gateway/internal/courses/courses.go
  Gateway/internal/lessons/lessons.go
  Gateway/internal/tasks/tasks.go
Due: gateway_test

Gateway refactor completed
  Gateway/internal/errors/errors.go
  Gateway/internal/lessons/models.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/server.go
  Gateway/internal/tasks/models.go
  Tasks/internal/controller/tasks.go
Due: gateway_test, tasks_test

add gateway address
  Gateway/configs/config.yaml
  Gateway/internal/server/server.go
  Gateway/pkg/config/config.go
Due: gateway_test

Gateway tasks methods addition
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/server.go
  Gateway/internal/tasks/models.go
  Gateway/internal/tasks/tasks.go
  Gateway/pkg/api/auth/auth.pb.go
  Gateway/pkg/api/auth/auth_grpc.pb.go
  Gateway/pkg/api/courses/courses.pb.go
  Gateway/pkg/api/courses/courses_grpc.pb.go
  Gateway/pkg/api/lessons/lessons.pb.go
  Gateway/pkg/api/lessons/lessons_grpc.pb.go
  Gateway/pkg/api/tasks/tasks.pb.go
  Gateway/pkg/api/tasks/tasks_grpc.pb.go
Due: gateway_test

API Gateway autogenerated documentations with swag/http-swagger
  Gateway/Makefile
  Gateway/cmd/main.go
  Gateway/docs/swagger.json
  Gateway/go.mod
  Gateway/go.sum
  Gateway/internal/auth/models.go
  Gateway/internal/courses/models.go
  Gateway/internal/lessons/models.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/httpErrors.go
  Gateway/internal/server/server.go
  Gateway/internal/tasks/models.go
  Makefile
Due: gateway_test

Common updates
  Gateway/Dockerfile
  Gateway/docs/docs.go
  Gateway/docs/swagger.json
  Gateway/go.mod
  Gateway/internal/server/server.go
  Nginx/Dockerfile
  Nginx/nginx.conf
  docker-compose.yml
Due: gateway_test

add not found error
  Tasks/internal/controller/tasks.go
  Tasks/internal/service/tasks.go
Due: tasks_test

add not found to change status task
  Tasks/internal/controller/tasks.go
  Tasks/internal/service/tasks.go
Due: tasks_test

update tests
  Tasks/internal/service/tasks_test.go
Due: tasks_test

update compose and swagger host
  Gateway/cmd/main.go
  Gateway/docs/swagger.json
  Gateway/internal/server/server.go
  Nginx/Dockerfile
  docker-compose.yml
Due: gateway_test

update message example
  Gateway/docs/swagger.json
  Gateway/internal/server/httpErrors.go
Due: gateway_test

update docker compose
  docker-compose.yml
Due: none

update dockerfiles, compose and gateway config
  Auth/Dockerfile
  Courses/Dockerfile
  Gateway/Dockerfile
  Gateway/cmd/main.go
  Gateway/go.mod
  Gateway/go.sum
  Gateway/pkg/config/config.go
  Lessons/Dockerfile
  Postgres/Dockerfile
  Redis/Dockerfile
  Tasks/Dockerfile
  docker-compose.yml
Due: gateway_test, auth_test, courses_test, lessons_test, tasks_test

update makefiles
  .gitignore
  Auth/Makefile
  Courses/Makefile
  Lessons/Makefile
  Makefile
  Tasks/Makefile
Due: auth_test, courses_test, lessons_test, tasks_test

fix typos
  Auth/Makefile
  Courses/Makefile
  Gateway/Makefile
  Gateway/pkg/config/config.go
  Lessons/Makefile
  Tasks/Makefile
Due: gateway_test, auth_test, courses_test, lessons_test, tasks_test

update patch to put
  Gateway/docs/swagger.json
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/server.go
Due: gateway_test

add commands to phony
  Auth/Makefile
  Courses/Makefile
  Gateway/Makefile
  Lessons/Makefile
  Tasks/Makefile
Due: gateway_test, auth_test, courses_test, lessons_test, tasks_test

update post to patch
  Gateway/docs/swagger.json
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/server.go
Due: gateway_test

fix typo
  Gateway/internal/server/server.go
Due: gateway_test

add mocks
  Courses/.mockery.yml
  Courses/go.mod
  Courses/go.sum
  Courses/internal/service/mocks/CourseRepo.go
Due: courses_test

add tests, coverage: 43.1% of statements
  Courses/go.mod
  Courses/internal/service/courses_test.go
Due: courses_test

service first setup
  Notifications/Dockerfile
  Notifications/Makefile
  Notifications/README.md
  Notifications/cmd/main.go
  Notifications/compose.yml
  Notifications/config/config.yaml
  Notifications/go.mod
  Notifications/go.sum
  Notifications/internal/config/config.go
  Notifications/internal/consumer/consumer.go
  Notifications/pkg/events/courses.go
  Notifications/pkg/events/lessons.go
  Notifications/pkg/events/tasks.go
  Notifications/pkg/events/topics.go
  Notifications/pkg/logger/logger.go
  Notifications/pkg/mailer/mailer.go
  Notifications/pkg/postgres/postgres.go
  docker-compose.yml
Due: none

add event handlers
  Notifications/internal/consumer/consumer.go
Due: none

setup service
  Notifications/cmd/main.go
  Notifications/internal/consumer/consumer.go
  Notifications/internal/service/notifications.go
Due: none

Readme additions
  README.md
Due: none

add service methods
  Notifications/cmd/main.go
  Notifications/go.mod
  Notifications/go.sum
  Notifications/internal/consumer/consumer.go
  Notifications/internal/domain/course.go
  Notifications/internal/domain/lesson.go
  Notifications/internal/domain/task.go
  Notifications/internal/domain/user.go
  Notifications/internal/repo/course.go
  Notifications/internal/repo/lesson.go
  Notifications/internal/repo/models.go
  Notifications/internal/repo/task.go
  Notifications/internal/repo/user.go
  Notifications/internal/service/notifications.go
Due: none

update docker compose and env
  .env.example
  Courses/config/config.yaml
  Postgres/init.sql
  docker-compose.dev.yml
  docker-compose.yml
Due: courses_test

add kafka to courses
  Courses/cmd/main.go
  Courses/config/config.yaml
  Courses/go.mod
  Courses/go.sum
  Courses/internal/config/config.go
  Courses/internal/producer/producer.go
  Courses/internal/service/courses.go
  Courses/internal/service/courses_test.go
  Courses/pkg/events/courses.go
  Courses/pkg/events/topics.go
  Notifications/internal/consumer/consumer.go
Due: courses_test

Gateway methods change
  Gateway/docs/swagger.json
  Gateway/go.mod
  Gateway/go.sum
  Gateway/internal/auth/models.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/httpErrors.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/response.go
  Gateway/internal/server/server.go
  Gateway/pkg/logger/logger.go
  Makefile
  docker-compose.yml
Due: gateway_test

update courses tests
  Courses/.mockery.yml
  Courses/internal/service/courses_test.go
  Courses/internal/service/mocks/Producer.go
Due: courses_test

add publish lesson created and check for course exists
  Courses/cmd/main.go
  Lessons/.mockery.yml
  Lessons/cmd/main.go
  Lessons/config/config.yaml
  Lessons/go.mod
  Lessons/go.sum
  Lessons/internal/config/config.go
  Lessons/internal/controller/lesson.go
  Lessons/internal/producer/producer.go
  Lessons/internal/repo/lesson.go
  Lessons/internal/service/lesson.go
  Lessons/internal/service/lesson_test.go
  Lessons/internal/service/mocks/LessonRepo.go
  Lessons/internal/service/mocks/Producer.go
  Lessons/pkg/events/lessons.go
Due: courses_test, lessons_test

add publish task created and course exists check
  Tasks/.mockery.yml
  Tasks/cmd/main.go
  Tasks/config/config.yaml
  Tasks/go.mod
  Tasks/go.sum
  Tasks/internal/config/config.go
  Tasks/internal/controller/tasks.go
  Tasks/internal/producer/producer.go
  Tasks/internal/repo/tasks.go
  Tasks/internal/service/mocks/Producer.go
  Tasks/internal/service/mocks/TaskRepo.go
  Tasks/internal/service/tasks.go
  Tasks/internal/service/tasks_test.go
  Tasks/pkg/events/tasks.go
Due: tasks_test

update depends on in compose
  docker-compose.yml
Due: none

update readme
  README.md
Due: none

Gateway update + common
  Docs/OpenAPI.json
  Gateway/cmd/main.go
  Gateway/go.mod
  Gateway/go.sum
  Gateway/internal/auth/auth.go
  Gateway/internal/auth/models.go
  Gateway/internal/courses/courses.go
  Gateway/internal/courses/models.go
  Gateway/internal/lessons/lessons.go
  Gateway/internal/lessons/models.go
  Gateway/internal/redis/redis.go
  Gateway/internal/server/handlers_auth.go
  Gateway/internal/server/handlers_courses.go
  Gateway/internal/server/handlers_lessons.go
  Gateway/internal/server/handlers_tasks.go
  Gateway/internal/server/middlewares.go
  Gateway/internal/server/server.go
  Gateway/internal/tasks/models.go
  Gateway/internal/tasks/tasks.go
  Gateway/pkg/config/config.go
  Makefile
  Nginx/nginx.conf
  Postgres/init.sql
  docker-compose.yml
Due: gateway_test

gitlab-ci update
  .gitlab-ci.yml
  Pipelines/cover/auth_cover.sh
  Pipelines/cover/courses_cover.sh
  Pipelines/cover/gateway_cover.sh
  Pipelines/cover/gitlab-ci.sh
  Pipelines/cover/lessons_cover.sh
  Pipelines/cover/notifications_cover.sh
  Pipelines/cover/tasks_cover.sh
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none
